<div class="container">
    <form action="/video" method="POST">
      
      <div class="form-group">
        <label for="video_url">Enter a Youtube Video Url </label>
        <input id="video_url"  class="form-control" type="url" name="video_url" value="https://www.youtube.com/watch?v=e_N_vesQigY">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <p>{{text}}</p>
</div>
